body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    overflow: hidden;
}

html {
    overflow: hidden;
}

:root {
    --btn-bg-color: #283618;
    --grey-bg: #F1F0F0;
    --cream: #FEFAE0;
    --details: #BC6C25;
    --list: #EAE7E7;
    --selected: #E5E0E0;

}


/* ------------- NAVIGATION MENU ------------ */
.navbar {
    /* box model */
    padding: .7em;
    height: 7vh;
    display: flex;
    box-sizing: border-box;

    /* visual */
    background-color: #DDA15E;
}

.logo-brandname {
    display: flex;
    padding-left: 1em;
    align-items: center;
    flex-basis: 50%;
    transition: 300ms ease-in-out;

    /* background-color: aquamarine; */
}

.logo {
    max-width: 2rem;
    margin-right: .5rem;
    transition: 300ms ease-in-out;
}

.brand-name {
    font-family: 'Marck Script', cursive;
    font-size: 1.8rem;
    font-weight: 550;
    margin: 0;

}

.navbar-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: rgb(175, 199, 199); */
    flex-basis: 50%;
    transition: 300ms ease-in-out;
}

@media(min-width:40em) {
    .navbar-icon {
        padding-right: 3em;
    }

    .logo-brandname {
        padding-left: 3em;
    }

    .logo {
        max-width: 2.5rem;
    }


}

.navbar-icon img {
    cursor: pointer;
    max-width: 1.5rem;
    margin: 0 .5rem;
}

.navbar-icon img:hover {
    transform: translateY(-3px);
    transition: 300ms ease-in-out;
}

/* ------------------- HEADER ----------------- */

/* ------------------ MAIN -------------------- */
.no-search-container {
    height: 78vh;
    display: flex;
    align-items: center;
}

.no-search-text {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

/*------------------ SEARCH MOBILE -------------*/
.search-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
    box-sizing: border-box;
    padding: 1.5em;
}

.search-sub-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #BC6C25; */
}

.search-input-mobile-container {
    position: relative;
    width: 85%;
}

.search-input-mobile {
    width: 100%;
    border-radius: 2em;
    font-size: 1.3rem;
    padding: .6em;
    box-sizing: border-box;
    background-color: var(--grey-bg);
    border: none;
}

.search-input-mobile:focus {
    outline: none;
}

.search-icon {
    font-size: 1.5rem;
}

.bi-search {
    position: absolute;
    top: .5rem;
    right: 1rem;
    transition: 300ms ease-in-out;
}

.bi-search:hover {
    transform: translateY(-2px);
}

/* -------------- BOOKMARK MOBILE ---------------- */
.bookmark-mobile-container {
    background-color: var(--grey-bg);
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 500ms ease-in-out;

}

.bookmark-list-container {
    background-color: var(--list);
    margin-top: 3rem;
}


.close-bookmark-mobile {
    width: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bookmark-icon {
    width: 2rem;
    margin-right: .5rem;
}

.bookmark-mobile-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 8rem;
    box-sizing: border-box;
}

.bookmark-list {
    position: relative;
    box-sizing: border-box;
    padding: 2em;
    display: grid;
    border-bottom: .2px solid rgb(186, 184, 184);
    grid-template-areas:
        'recipe-image recipe-name recipe-name'
        'recipe-image recipe-site recipe-site';
}

.bookmark-list:hover {
    background-color: var(--selected);
}

.delete-bookmark {
    position: absolute;
    width: 2rem;
    right: 0;
    top: 0;
}

.bookmark-food-sample {
    display: inline-block;
    margin: auto;
    grid-area: recipe-image;
    width: 4.5rem;
}

.recipe-name {
    margin: 0;
    font-weight: 650;
    grid-area: recipe-name;
}

.recipe-site {
    margin: 0;
    color: var(--details);
    grid-area: recipe-site;
}

/* ----------------- HAMBURGER MOBILE SECTION ---------- */
.hamburger-container {
    background-color: var(--grey-bg);
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.hamburger-sub-container {
    margin-top: 10rem;
}

.hamburger-choice {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 1em;
    opacity: 1;
    transition: 500ms ease-in-out;

}

.hamburger-choice:hover {
    background-color: var(--selected);

}

.hamburger-choice-icon {
    width: 2rem;
    margin-right: 1em;
}

.close-hamburger {
    width: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
}


/* ----------------- FOOTER ------------------- */
.footer-container {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
    color: var(--grey-bg);
    text-align: center;
}

.footer-inspired-text {
    margin: 0;
    font-size: .8rem;
}

/* ---------JAVASCRIPT ACTION -------------------*/

.hide {
    display: none;
}

.hide-container {
    opacity: 0;
    transform: translateX(50rem);
}

.hide-container-choice {
    opacity: 0;
    transform: translateX(1rem);
}

.removeBookmark {
    transform: translateX(-30rem);
    transition: 300ms ease-in-out;
}